{% extends 'base.html.twig' %}

{% block title %}Mis Localizaciones{% endblock %}

{% block body %}
    <h2>Mis Localizaciones</h2>

    <table id="myTable" {#class="table"#}>
        <thead>
            <tr>
                <th>Dirección</th>
                <th>Latitud, Longitud</th>
                <th>Calle</th>
                <th>Ciudad</th>
                <th>Provincia</th>
                <th>C.P.</th>
                <th>País</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.address }}</td>
                <td>{{ location.latitude }},<br>{{ location.longitude }}</td>
                <td>{{ location.street }}</td>
                <td>{{ location.city }}</td>
                <td>{{ location.state }}</td>
                <td>{{ location.postcode }}</td>
                <td>{{ location.country }}</td>
                <td>
                    <a href="{{ path('app_location_show', {'id': location.id}) }}" class="btn btn-primary">Ver</a>
                    {#<a href="{{ path('app_location_edit', {'id': location.id}) }}">edit</a>#}
                    {{ include('location/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_location') }}" class="btn btn-primary">Crear nueva</a>


    {# DATATABLES #}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.5/css/dataTables.dataTables.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>    
    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.js"></script>
    <script>
        let table = new DataTable('#myTable', {
            // options
        });
    </script>    

{% endblock %}
