{% extends 'base_email.html.twig' %}

{% block subject %}
	Viaje Cancelado!!
{% endblock %}

{% block body %}
	<p>
		Hola
		<strong>{{ viajeSolicitud.pasajero.username }}</strong>,
	</p>

	<p>
		En condutor o conductora del siguiente viaje que habías solicitado lo ha <strong>cancelado</strong>:
	</p>

	<ul>
		<li>
			<strong>Ruta:</strong>
			{{ viajeSolicitud.viaje.startLocation }}
			→
			{{ viajeSolicitud.viaje.endLocation }}
		</li>
		<li>
			<strong>Fecha y hora:</strong>
			{{ viajeSolicitud.viaje.fechaHora|date('d/m/Y H:i') }}
		</li>
		<li>
			<strong>Conductor/a:</strong>
			{{ viajeSolicitud.viaje.conductor.username }}
		</li>
		<li>
			<strong>Fecha de la solicitud:</strong>
			{{ viajeSolicitud.createdAt|date('d/m/Y H:i') }}
		</li>
	</ul>

	<p style="margin-top: 20px; font-size: 13px; color: #666;">
		Disculpa las molestias.
	</p>

	<p>
		Gracias por usar
		<strong>Mi Mejor Idea</strong>.
	</p>
{% endblock %}
