{% extends 'base.html.twig' %}

{% block title %}Mis Viajes{% endblock %}

{% block body %}
	<h2>Mis Viajes</h2>

	{% if not viajes %}
		<table id="myTable" class="table">
			<tr>
				<td colspan="6">No hay viajes</td>
			</tr>
		</table>
	{% else %}
		<div class="table-responsive" >
		<table id="myTable" class="table">
			<thead>
				<tr>
					<th>FechaHora</th>
					<th>Origen</th>
					<th>Destino</th>
					<th>Plazas</th>
					<th>Estado</th>
					{#<th>CreatedAt</th>
					<th>UpdatedAt</th>#}
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for viaje in viajes %}
					<tr>
						<td>{{ viaje.fechaHora ? viaje.fechaHora|date('d-m-Y H:i') : '' }}</td>
						<td>{{ viaje.startLocation }}</td>
						<td>{{ viaje.endLocation }}</td>
						<td>{{ viaje.plazas }}</td>
						<td>
							{% if viaje.estaPublicado %}
								<span class="badge bg-success">{{ viaje.estado.value }}</span>
							{% elseif viaje.estaCancelado %}
								<span class="badge bg-danger">{{ viaje.estado.value }}</span>
							{% elseif viaje.estaFinalizado %}
								<span class="badge bg-info">{{ viaje.estado.value }}</span>						
							{% endif %}						
						</td>
						{#<td>{{ viaje.createdAt ? viaje.createdAt|date('d-m-Y H:i') : '' }}</td>
						<td>{{ viaje.updatedAt ? viaje.updatedAt|date('d-m-Y H:i') : '' }}</td>#}
						<td>
							<a href="{{ path('app_viaje_show', {'id': viaje.id}) }}" class="btn btn-primary btn-sm">Ver</a>
                            {% if viaje.fechaHora > date() and viaje.estaPublicado %}
							<a href="{{ path('app_viaje_edit', {'id': viaje.id}) }}" class="btn btn-primary btn-sm">Editar</a>
                            {% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>

		{# DATATABLES #}
		<link rel="stylesheet" href="https://cdn.datatables.net/2.3.5/css/dataTables.dataTables.css"/>
		<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
		<script src="https://cdn.datatables.net/2.3.5/js/dataTables.js"></script>
		<script>
			let table = new DataTable('#myTable', { // options
				language: {
                url: '/datatables/i18n/es-ES.json'
                },
                order: [
                [0, 'desc']
                ]
                });
		</script>
    {% endif %}

	<a href="{{ path('app_viaje_new') }}" class="btn btn-primary">Crear Viaje</a>
    <div><a href="{{ path('app_dashboard') }}" class="btn btn-secondary">Volver al Panel de Control</a></div>

{% endblock %}
