{% extends 'base.html.twig' %}

{% block title %}Viaje
{% endblock %}

{% block body %}
	<h2>Viaje</h2>

	<table class="table">
		<tbody>
			<tr>
				<th>Conductor/a</th>
				<td>
					<div class="avatar-lg">
						<img src="{{ asset('assets/img/profile_photos/' ~ viaje.conductor.photoFilename ?? 'default_profile_photo.png') }}" alt="image profile" class="avatar-img rounded-circle"/>
					</div>
				</td>
			</tr>
			<tr>
				<th>Fecha/Hora de Salida</th>
				<td>{{ viaje.fechaHora ? viaje.fechaHora|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Localización de Origen</th>
				<td>
					<a href="{{ path('app_location_show', {'id': viaje.startLocation.id}) }}">
						{{ viaje.startLocation }}</a>
				</td>
			</tr>
			<tr>
				<th>Localización de Destino</th>
				<td>
					<a href="{{ path('app_location_show', {'id': viaje.endLocation.id}) }}">
						{{ viaje.endLocation }}</a>
				</td>
			</tr>
			<tr>
				<th>Ruta</th>
				<td>
					<a href="{{ path('app_location_ruta', { home: viaje.startLocation.id, work: viaje.endLocation.id }) }}">
						Ver ruta en el mapa
					</a>
				</td>
			</tr>
			<tr>
				<th>Plazas</th>
				<td>{{ viaje.plazas }}</td>
			</tr>
			<th>Solicitudes</th>
			<td>

				{% for solicitud in viaje.solicitudes %}
					{% if solicitud.isPendiente %}
						<div class="avatar avatar-away">
					{% elseif solicitud.isAceptada %}
						<div class="avatar avatar-online">
					{% elseif solicitud.isRechazada %}
						<div class="avatar avatar-offline">
					{% endif %}

						{% if app.user == solicitud.pasajero or app.user == viaje.conductor %}
							<a href="{{ path('app_viaje_solicitud_show', {'id': solicitud.id}) }}">
							{% endif %}
							<img src="{{ asset('assets/img/profile_photos/' ~ solicitud.pasajero.photoFilename ?? 'default_profile_photo.png') }}" alt="image profile" class="avatar-img rounded-circle"/>
							{% if app.user == solicitud.pasajero or app.user == viaje.conductor %}
							</a>
						{% endif %}

					</div>
				{% else %}
					No hay solicitudes de pasajeros/as.
				{% endfor %}

					</td>
					<tr></tr>
					<tr>
						<th>CreatedAt</th>
						<td>{{ viaje.createdAt ? viaje.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					</tr>
				</tbody>
			</td>
		</tbody>
	</table>

	{% if viaje.conductor is same as(app.user) and viaje.fechaHora > date() %}
		<a href="{{ path('app_viaje_edit', {'id': viaje.id}) }}" class="btn btn-primary">Editar</a>
		{{ include('viaje/_delete_form.html.twig') }}
	{% elseif viaje.puedeSolicitar(app.user) %}
		<a href="{{ path('viaje_solicitud_new', {'id': viaje.id}) }}" class="btn btn-success btn">Solicitar</a>
	{% endif %}

	<a href="{{ path('app_dashboard') }}" class="btn btn-secondary">Volver al Panel de Control</a>

{% endblock %}
