<!-- Sidebar -->
<div class="sidebar" data-background-color="dark">
	<div
		class="sidebar-logo">
		<!-- Logo Header -->
		<div class="logo-header" data-background-color="dark">
			<a href="{{ path('app_index') }}" class="logo">
				<img src="{{ asset('assets/img/logoMiMejorIdea.png') }}" alt="navbar brand" class="navbar-brand" height="80"/>
			</a>
			<div class="nav-toggle">
				<button class="btn btn-toggle toggle-sidebar">
					<i class="gg-menu-right"></i>
				</button>
				<button class="btn btn-toggle sidenav-toggler">
					<i class="gg-menu-left"></i>
				</button>
			</div>
			<button class="topbar-toggler more">
				<i class="gg-more-vertical-alt"></i>
			</button>
		</div>
		<!-- End Logo Header -->
	</div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<ul class="nav nav-secondary">

			{# PANEL DE CONTROL #}
              <li class="nav-item">
                <a href="{{ path('app_dashboard') }}">
                  <i class="fas fa-home"></i>
                  <p>Panel de Control</p>
                </a>
              </li>


			{# COCHE COMPARTIDO #}
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#car">
                  <i class="fas fa-car"></i>
                  <p>Coche compartido</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="car">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="{{ path('viajes_proximos')}}">
                        <span class="sub-item">Próximos viajes</span>
                      </a>
                    </li>
                    <li>
                      <a href="{{ path('app_viaje_new')}}">
                        <span class="sub-item">Crear viaje</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>


			</ul>
		</div>
	</div>
  {% endif %}
</div>
<!-- End Sidebar -->
